.side-menu {
  position: relative;
}

.fa-bars {
  font-size: 24px;
  margin: 5px;
  color: white;
}

.menu-button {
  position: relative;
  z-index: 99;
  cursor: pointer; 
}

// .menu-items {
//   position: absolute;
//   top: 0;
//   right: 20px;
//   z-index: 999;
//   background-color: seagreen;
//   width: 10em;
// }

nav {
    position: absolute;
    top: 20px;
    right: -11px;
    z-index: 999;
    background-color: seagreen;
    width: 10em;
}

nav.show {
    left: 50px
 }

.menu-list {
    padding: 10px 16px;
    color: white;
    border-bottom: 1px solid white;
}