header {
    background-image: url('https://images.unsplash.com/photo-1464146072230-91cabc968266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    height: 40em;
    background-position: center;
}

.looking-for-home {
    background: white;
    padding: 20px;
    width: 50%;
    margin: auto;
    position: relative;
    top: -37px;
    border: 2px solid green;
    border-radius: 10px;
}

.small-intro {
    background-color: rgba(152, 169, 88, 0.685);
    display: flex;
    justify-content: center;
    padding: 5em;
    margin-top: -74px;
    max-height: 35em;
    img {
        height: 100%;
    }
    .bedroom-img {
        position: relative;
        top: 10%;
        right: 20%;
        border-bottom: double;
        border-right: double;
        padding: 0 5px 5px 0;
    }
    .brickhouse-img {
      padding: 5px 0 0 5px;
      border-top: double;
      border-left: double;
    }
}

footer {
    background-color: #436B38;
    padding: 20px;
}